# System
PORT=
NODE_ENV=development
BACKEND_DOMAIN_NAME=
FRONTEND_ORIGIN=http://localhost:3001
JWT_SECRET_KEY=
# 32-byte key as hex (64 chars): openssl rand -hex 32
ENCRYPTION_KEY=

# DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=

# For local docker
# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
